@charset "UTF-8";

/* フォント設定 */
main {
    font-family: 'YakuHanJPs_Narrow', 'Yu Gothic UI', 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
}

/* Bootstrapの色を改変 */
.bg-light {
    background-color: #f4f4f4 !important;
}

/* 文字サイズをブラウザ標準の16pxから少し大きめの(18/16)pxにする */
body {
    font-size: 1.125rem;
}

/* 見出し 太字のリセット(清潔感を出すため) */
h1, h2, h3, h4 {
    font-weight: 400;
}

/* ヘッダー高さ調整 */
header, nav {
    height: 80px;
}
/* ヘッダー画像を48pxに合わせる */
header img {
    height: 48px;
}

/* Bootstrapのボタンの背景色を上書き */
.btn-dark {
    background-color: #333333;
    border-color: #333333;
}
.btn-outline-dark {
    color: #333333;
    border-color: #333333;
}

/* メインビジュアル */
#main-visual {
    /* 端末の画面の高さに合わせてメインビジュアルの高さを調整 */
    height: calc(100vh - 80px);
    /* 画面横いっぱいに表示 */
    width: 100%;
    /* 画像の縦横比が歪まないように */
    object-fit: cover;
}
.message {
    display: flex;
    font-size: .85em;
    /* 縦に並べて表示 */
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 100px;
    /* 画面横幅サイズで左右の余白を決める */
    margin: 0 4vw;
    /* 背景にぼかしを適用(透明感の実装) */
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    /* このままでは見えにくいので白を加える */
    background-color: rgba(255, 255, 255, 0.6);
}

#scroll {
    display: flex;
    justify-content: center;
    position: absolute;
    /* 背景と差をつけるために合成モードを適用 */
    mix-blend-mode: difference;
    /* 画面下部に配置 */
    bottom: 50px;
    /* 画面中央に配置 */
    left: 50%;
    /* 軸を中央にする */
    translate: -50% -50%;
    font-size: 1em;
    color: #ffffff;
}
#scroll::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 2em;
    width: 1px;
    height: 104px;
    background-color: #ffffff;
}

#news .badge {
    /* 整列をするためにバッジの不揃いを調整 */
    width: 8em;
}

/* サブビジュアル */
#sub-visual {
    width: 100%;
    background-image: url('../img/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    background-size: cover;
}
#sub-visual .container {
    /* 背景にぼかしを適用(透明感の実装) */
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    /* このままでは見えにくいので白を加える */
    background-color: rgba(255, 255, 255, 0.7);
}
/* 右矢印(→)を定義 */
.right-arrow {
    display: inline-block;
    width: 4em;
    height: 1em;
    margin-top: 1em;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    transform: skew(-45deg);
}
/* ホバー時にちょっと動かすアニメーション */
.move:hover {
    padding-left: 4rem !important;
    transition: 1s;
}
#mini-visual {
    position: absolute;
    top: -16px;
    left: 40%;
    height: 250px;
    object-fit: cover;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

/* 子要素の横幅に合わせる */
.fit-content {
    width: fit-content;
}

/* "visual" メインビジュアル ふんわり表示アニメーション */
.visual-enter-active, .visual-leave-active {
    transition: opacity 1s;
}
.visual-leave-active {
    position: absolute;
}
.visual-enter-from, .visual-leave-to {
    opacity: 0.0;
}

/* コンテナを使ったときに、上下内側に余白をつける */
.container {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* サブタイトルの文字サイズと余白を調整 */
.subtitle {
    /* marginなどの余白を適用するためにinline-blockにする */
    display: block;
    font-size: 1.2em;
    margin-bottom: .25em;
}

/* 画像の横幅を調整 */
#feature img {
    /* 画像の縦横比が歪まないように */
    background-size: cover;
    width: 80%;
}

/* 枠線つきカード */
.bordered-card {
    border: 1px solid;
    padding: 0 1.5em .5em;
}
.bordered-card span {
    display: block;
}
/* 最初のspan要素のみ、枠に重ねて表示 */
.bordered-card span:first-child {
    display: inline-block;
    position: relative;
    top: -0.75em;
    /* 外側の余白を取ってから内側の余白を再度取ることで、塗りつぶし範囲を拡大 */
    margin: -.75em;
    padding: 0 .75em;
    background: white;
    clear: both;
}
.bg-light .bordered-card span:first-child {
    background: #f4f4f4;
}

/* SNSアイコンの大きさを調整 */
.sns-icon img {
    height: 2.5em;
    width: 2.5em;
}

/* ----- 資料請求ページに適用されるCSS ----- */

#document-page #main-visual {
    height: 40vh;
}