<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Bootstrapの読み込み -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- 約物を半角にする -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp_s-narrow.min.css">
  <!-- オリジナルのスタイルシート -->
  <link rel="stylesheet" href="./css/stylesheet.css">
  <!-- ファビコンの読み込み -->
  <link rel="icon" href="./img/logo/TIDU_logo.png">
  <title>ディジタルメディア学科 - 東京情芸大学</title>
</head>
<body>
  <header>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <!-- 100%で表示するコンテナ要素 -->
      <div class="container-xxl">
        <!-- フレックス要素にして中央揃え / 外側下の余白なし / 右側余白をいっぱい(auto)に広げる -->
        <h1 class="d-flex justify-content-center mb-0 me-auto">
          <!-- ナビゲーションのリンク(トップページへ) / ブランドロゴ -->
          <a href="/" class="navbar-brand">
            <!-- ロゴ画像 -->
            <img src="./img/logo/TIDU_logo.png">
            <!-- ロゴ大学名 / 画面横サイズが大きいときのみ表示 -->
            <img src="./img/logo/TIDU_text-logo.png" alt="東京情芸大学" class="d-none d-md-inline-block me-1 pe-2 border-end">
            <!-- ロゴ学科名 / 左余白と縦棒(border)で区切り -->
            <img src="./img/logo/ID-DM_logo.png" alt="情報デザイン学部デジタルメディア学科">
          </a>
        </h1>
        <!-- フレックス要素にして中央揃え -->
        <div class="d-flex justify-content-center" style="height: 52px;">
          <!-- ボタンスタイル(アウトラインあり) / 縦幅いっぱいに表示 / location.hrefでページ遷移、スマホ表示のときのみ改行 -->
          <button class="btn btn-dark h-100 d-flex align-items-center" onclick="location.href='document.html'" role="button">資料<br class="d-sm-none">請求</button>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- メインビジュアル -->
    <div id="visual-app">
      <!-- appearで初回表示時ふんわり表示 / nameでCSSの"visual"欄のアニメーションを適用 -->
      <transition appear name="visual">
        <!-- currentImageの更新をkeyとしてトリガー(画像変更時を検知する) -->
        <!-- スクリプトで画像のイメージを6秒ごとに変更(詳しい動きはscript.jsを参照) -->
        <img id="main-visual" v-bind:key="currentImage" :src="currentImage">
      </transition>
    </div>
    <article>
      <!-- コンテナを用意(横に余白) -->
      <div class="container">
        <!-- 横並びにする -->
        <div class="row">
          <!-- テキストを中央揃え -->
          <div class="text-center">
            <span class="subtitle">ABOUT</span>
            <h2>デジタルの力で、社会を変える。<br>メディアの力で、社会を想像する。</h2>
            <p>映像・音楽・画像のデジタル技術を集結させ、<br>コンピュータを通して情報をデザインする学問です。</p>  
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row text-center mb-5" id="feature">
          <span class="subtitle">FEATURE</span>
          <h2>学科の特色</h2>
          <!-- [Vue.js] v-forを使ってデータcelsの文だけ繰り返して表示 -->
          <template v-for="cel in cels">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="text-center">
                <!-- 画像を表示 -->
                <img :src="cel.icon">
                <!-- celのtitleの内容を表示 -->
                <h3>{{ cel.title }}</h3>
                <!-- 改行を認識させるためにv-htmlでhtmlとして、celのtextを出力 -->
                <p v-html="cel.text"></p>
              </div>
            </div>
          </template>
        </div>
      </div>
      <!-- 背景をグレーにする -->
      <div class="bg-light py-5">
        <div class="container">
          <span class="subtitle">CURRICULUM</span>
          <h2>カリキュラム</h2>
          <p class="mb-5">グラフィックデザイン、3DCG、UI/UXデザイン、<br class="d-none d-md-inline-block">
            映像、モーショングラフィックス、アニメーションを中心としたカリキュラム構成。</p>
          <div class="bordered-card rounded-3">
            <span>主な就職先</span>
            <span class="subtitle">広告・デザイン</span>
            <p>株式会社あああ、株式会社いいい、株式会社ううう、株式会社えええ、株式会社おおお</p>
            <span class="subtitle">ITサービス</span>
            <p>株式会社あああ、株式会社いいい、株式会社ううう、株式会社えええ、株式会社おおお</p>
            <span class="subtitle">情報機器・メーカー</span>
            <p>株式会社あああ、株式会社いいい、株式会社ううう、株式会社えええ、株式会社おおお</p>
          </div>
        </div>
      </div>
      <!-- [Vue.js] 年次ごとに繰り返して表示(1～4年次) -->
      <div class="container" id="year">
        <div v-for="year in years">
          <div class="row my-5">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <img :src="year.image" :alt="year.alt" class="w-100 rounded-3 overflow-hidden mb-4">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <p class="badge rounded-pill bg-dark px-3 py-2">{{ year.subtitle }}</p>
              <h2>{{ year.title }}</h2>
              <p>{{ year.text }}</p>
            </div>
          </div>
        </div>
        <div class="bordered-card rounded-3 mb-5">
          <span>取得できる資格</span>
          <p>中学校教諭一種免許状（情報/美術）、高等学校教諭一種免許状（情報）、<br class="d-none d-md-inline-block">情報処理技術者試験（基本/応用）、CGクリエイター検定、CGエンジニア検定、Webデザイナー検定、マルチメディア検定</p>
        </div>
      </div>
      <div class="bg-light py-5">
        <div class="container">
          <div class="my-2 rounded-3">
            <span class="subtitle">NEWS</span>
            <h2>最新情報</h2>
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-2 col-xl-1 border-end">2023.07.13</div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-xl-1">イベント</div>
              <div class="col-xs-12 col-sm-6 col-md-10">きになる研究室は？ 8月の 「オープンキャンパス」 にて一般公開される〝研究室〟を、先行してWebで紹介中！</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div>
          <span class="subtitle">EVENTS</span>
          <h2>イベント情報</h2>
          <div></div>
        </div>
      </div>
      <div class="container">
        <div>
          <span class="subtitle">LAB</span>
          <h2>研究室</h2>
          <div></div>
        </div>
      </div>
    <div id="sub-visual" class="mt-5 py-5">
      <!-- コンテナ / フレックス要素で中心揃え / 内側に余白 / 縁を丸くする -->
      <div class="container d-flex align-items-center p-5 rounded">
        <div class="fit-content me-3">
          <p class="subtitle pt-0">GRADUATE SCHOOL</p>
          <h2>大学院</h2>
        </div>
        <span class="right-arrow"></span>
      </div>
    </div>    
    </article>
    <div class="bd-footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <span class="subtitle">学校法人 あいうえお学園</span>
            <h2 class="mb-4">東京情芸大学</h3>
            <p>東京四茶キャンパス<br>
              〒154-0024 東京都世田谷区四軒茶屋3<br>
              03-1234-5678</p>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-3 sns-icon">
            <span class="subtitle">公式SNS</span>
            <a href="https://twitter.com"><img src="./img/sns-icon/01.svg" alt=""></a>
            <a href="https://twitter.com"><img src="./img/sns-icon/02.svg" alt=""></a>
            <a href="https://twitter.com"><img src="./img/sns-icon/03.svg" alt=""></a>
            <a href="https://twitter.com"><img src="./img/sns-icon/04.svg" alt=""></a>
            <span class="subtitle pt-3">学科について</span>
            <button type="button" class="btn btn-dark me-1 px-3" onclick="location.href='document.html'">資料請求</button>
            <button type="button" class="btn btn-dark px-3" onclick="location.href='contact.html'">お問い合わせ</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="mt-5 py-5 bg-light">
      <div class="container-fluid">
        <!-- フレックス要素にして中央揃え -->
          <div class="d-flex justify-content-center">
            <span>Copyright © Tokyo Information Design University.</span>
          </div>
      </div>
  </footer>
<!-- Vue.js 読み込み -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
<script src="./js/script.js"></script>
</body>
</html>